.footer{
    background-color: #E9DED4;
    padding: 40px 0px 72px 0px;
}

.footer__text{
    font-family: var(--ff-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;

    color: var(--color-text);
    opacity: 0.6;
}