.party_mb {
    margin-bottom: 140px;
}

.party__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.party__top_mb {
    margin-bottom: 60px;
}

.party__controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 14px;
}

.party__counts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;

    font-family: var(--ff-text);
    font-weight: 400;
    font-size: 16px;

    color: var(--color-text);
}

.party__counts-all {
    opacity: 0.6;
}

.party__slider-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.party__slide {
    min-width: calc(100% / 3);
    flex-shrink: 0;
    max-width: 394px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.party__slide-picture {
    display: block;

    max-width: 320px;
    width: 100%;
    height: 100%;

    border-radius: 50%;

    margin-bottom: 27px;
}

.party__slide-img {
    max-width: 100%;
    width: 100%;
    height: 100%;

    object-position: center;
    object-fit: cover;

    border-radius: 50%;
}

.party__slide-name {
    font-family: var(--ff-text);
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: var(--color-text);

    margin-bottom: 6px;
}

.party__slide-position {
    font-family: var(--ff-text);
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: var(--color-text);
    opacity: 0.6;

    margin-bottom: 20px;
}

.party__slide-link {
    font-family: var(--ff-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: var(--color-accent);

    background: transparent;

    padding: 7px 12px;
    border: 1px solid var(--color-accent);
    border-radius: 50px;

    transition:
        color var(--transition-default-time-and-function),
        background var(--transition-default-time-and-function);
}


.party__slider {
    position: relative;
    overflow: hidden;
}

.party__slider-wrapper {
    display: flex;
    transition: transform 0.5s ease;
}